<div class="hero-banner">
    <img src="${properties.backgroundImage}" class="hero-banner-background" alt="background image"/>
    <div class="hero-banner-component">
        <h1>${properties.title}</h1>
        <p>${properties.text}</p>
        <button type="button" class="btn-1">${properties.buttonOneLabel}</button>
        <button type="button" class="btn-2">
            <a href="${properties.buttonTwoLink}">${properties.buttonTwoLabel}</a>
        </button>
    </div>
    <div class="space"> </div>
</div>