
<nav class="header">

    <div class="logo">
        <sly data-sly-test.logo="${pageProperties.logoImage @context='html'}">
        <img src="${logo @context='uri'}" alt= 'Logo'>
        </sly>
    </div>

    <div class="menu-items">
    <sly data-sly-list.item="${resource.listChildren}">
        <sly data-sly-test="${item.name == 'menuItems'}">
            <sly data-sly-list.subitem="${item.listChildren}">

                    <a href="${subitem.link @context='uri'}">${subitem.label @context='html'}</a>
            </sly>
            </sly>
        </sly>
    </div>
</nav>

