<div id="us" class="makaan-search-banner" data-sly-use.modelSearch="com.formazioneboilerplate.core.models.MakaanSearchModel">
        <div class="makaan-search">
            <div class="makaan-search-box">
                <div class="makaan-form">
                    <input type="text" id="searchKeyword" placeholder="Search Keyword">
                </div>
                <div class="makaan-form"><!-- si comporta come una select che prende le info da una osgi -->
                    <label>
                        <select id="propertyType">
                            <option value="">Property Type</option>
                            <sly data-sly-list="${modelSearch.searchProperties}">
                                <option value="${item}">${item}</option>
                            </sly>
                        </select>
                    </label>
                </div>
                <div class="makaan-form"><!-- è una select che la cui scelta si ottiene da un GET -->
                    <label>
                        <select id="location">
                            <option value="">Location</option>
                            <sly data-sly-list="${modelSearch.properties}">
                                <option value="${item}">${item}</option>
                            </sly>
                        </select>
                    </label>
                </div>
            </div>
            <div class="makaan-search-btn">
                <button type="button" class="makaan-btn">Search</button>
            </div>
        </div>

        <div id="container">

        </div>
</div>
