.footer{
  background-color: rgb(255, 255, 255);
  font-family: Times New Roman;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.top-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-buttons{
  float: right;
  width: 450px;
  margin-right: 20px;
  display: flex;
}

.bottom-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #202020;
}

.icone {
  width: 24px;
  height: 24px;
  margin: 5px;
  justify-content: center;
}

.copyright{
  float: left;
  color: rgb(173, 173, 173);
}

.telefono {
  color: rgb(173, 173, 173);
  margin-right: 60px;
}

a {
  color:rgb(173, 173, 173);
}

.bottom-right-div{
  float: right;
  display: inline-flex;
}

img {
  width: 180px;
  height: 90px;
}

.social-icon{
  display: inline-flex;
  margin-right: 60px;
  justify-content: space-between;
  margin-top: 10px;
}

.link{
  margin: 5px;
}