<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">
<sly data-sly-call="${clientLib.css @ categories='formazioneboilerplate.custom'}"/>
<sly data-sly-call="${clientLib.js @ categories='formazioneboilerplate.custom'}"/>
</sly>


<sly data-sly-use.model="com.formazioneboilerplate.core.models.FormModel"></sly>

<form id="form" method="post" action="/bin/myservletChiara">
    <input type="hidden" id="datadinascita" name="datadinascita" value="${model.datadinascita}" />
    <input type="hidden" id="nazionalita" name="nazionalita" value="${model.nazionalita}" />
    <input type="hidden" id="indirizzo" name="indirizzo" value="${model.indirizzo}" />
    <input type="hidden" id="checkbox" value="${model.checkbox}" />
    <input type="hidden" id="newsletter" value="${model.newsletter}" />
    <button id="b" type="submit">${model.labelbottone}</button>
</form>

<div id="bottone">
    <a href="${model.linkbottone}" class="link" id="btn">${model.labelbottone}</a>
</div>

