<div class="hero-banner" style="background-image: url('${properties.fileReference @ context='uri'}');">

    <div class="overlay"></div>

    <div class="contenuto-testuale">
        <h1 class="titolo">${properties.titolo}</h1>
        <h6 class="descrizione">${properties.sottotitolo}</h6>

        <div class="bottone">
            <a href="${properties.bottoneLink}" class="btn">${properties.bottoneLabel}</a>
        </div>
    </div>
</div>

<style>

    .hero-banner{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        height: 400px;
        text-align: center;
        color: white;
    }

    .hero-banner .overlay {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
    }

    .contenuto-testuale {
        position: relative;
        z-index: 2;
        max-width: 800px;
    }

    .descrizione{
        font-size: 15px;
        margin-top: 0;
    }

    .bottone .btn {
        background-color: #f400a1;
        color: white;
        padding: 12px 24px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 20px;

    }


</style>

<script>

</script>